<p>combos works!</p>
<!-- Aquí termina el código del menú -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-itema active "><a href="#">Panel Inventario/ </a></li>
    <li class="breadcrumb-item " aria-current="page">Combos</li>
    <!-- <li class="breadcrumb-item active" aria-current="page">Sección actual</li> -->
  </ol>
</nav>
<h1>Combos</h1>

<div class="container body">
  <div class="row">
    <!--col-md-8 mt-4  > -->
    <div class="col-md-12 mx-auto">
      <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="CombArray">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Producto</th>
            <th>Servicio</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of CombArray"
              (click)="openEditTodo(e)"
              [class.active]="e == sel">
            <td><span class="badge LabelNum">{{e.id}}</span></td>
            <td>{{ e.nombre }}</td>
            <td>{{ e.codBarras }}</td>      <!--PRODUCTO > -->
            <td>{{ e.perennePerecedero }}</td>   <!--SERVICIO  > -->
            <td>{{ e.descripcion }}</td>
          </tr>
        </tbody>
      </table>
      <hr />
      <ul class="list-group">
        <!--al dar click  retiene e: empleado -->
        <!--(click)="openForEdit(e)"-->
        <!--marque el elemento activo-->
        <!--[class.active]="e == sel">-->
        <li *ngFor="let e of CombArray"
            class="list-group-item list-group-item-action"
            (click)="openEditTodo(e)"
            [class.active]="e == sel">
          <span class="badge LabelNum">{{e.id}}</span>
          ║ {{e.nombre}} ║ {{e.codBarras}} ║ {{e.perennePerecedero}} ║ {{ e.descripcion}} ║
          <span class="badge LabelNum">ACTIVO: &nbsp;&nbsp;&nbsp; {{e.done}}</span>
        </li>
      </ul>
      <h1>Combos</h1>
      <!--card mt-4  > -->
      <div class="card" alt="Max-width 150%">
        <div class="card-body">
          <div class="card-title">
            <strong>Mantenimiento de Productos   </strong>
            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
            <div class="row">
              <div class="col-sm-3">
                <!--<a href="/productos" class="btn btn-low" style="text-align:left; color:maroon">
          <h5>Ir a Tablas Productos </h5>
        </a>-->
                <button (click)="irTablas()">Mto. Tablas Generales</button>
              </div>
              <div class="col-sm-3">
                <!--<a href="/servicios" class="btn btn-low" style="text-align:left; color:maroon">
          <h5>Ir a Tablas Servicios </h5>
        </a>-->
                <button (click)="irServicios()">Mantenimiento Servicios</button>
              </div>
              <div class="col-sm-3">
                <!--<a href="/servicios" class="btn btn-low" style="text-align:left; color:maroon">
          <h5>Ir a Tablas Servicios </h5>
        </a>-->
                <button (click)="irCombos()">Mantenimiento Productos</button>
              </div>
              <div class="col-sm-3">
                <a class="navbar-brand">  {{toDay| date:' dd/MM/yyyy - HH:mm:ss'}}  </a>
              </div>
            </div>
          </div>
          <hr />
          <!-- directiva ngModel  >deben sumar 12 -->
          <form [formGroup]="formT">
            <div class="form-group row">
              <strong>Consulte la información Ingresando uno de los siguientes campos:   </strong>
              <div class="col-sm-6">
                <br> Nombre:

                <input type="text" #textId placeholder="text" name="ed" required>
                <button (click)="getUser(textId.value)">Buscar</button>
                <hr>
                <ng-container *ngIf="notFound">User not Found</ng-container>
                <ng-container *ngIf="codigo">
                  <div>UserId: {{codigo.codigoId}}  </div>
                  <div>Id: {{codigo.id}}  </div>
                  <div>Name: {{codigo.title }}  </div>
                  <div>Username: {{codigo.body}}  </div>
                </ng-container>

                <div *ngIf="notFound" [ngStyle]="{'background-color': notFound ? 'red':'green'} ">User not Found</div>
                <div *ngIf="!codigo" [ngStyle]="{'background-color': !codigo ? 'brown':'blue',
                                  'textAlign': 'right',
                                 'color': !codigo ? 'yellow': 'gray',
                                 'paddingLeft': codigo ? '0px': '20px',
                                 'paddingRight': !codigo ? '20px' :'0px',
                                 'width': '400px' ,
                                 'height' : '40px'} ">
                  NO existe por ahora!!!
                </div>
                <div *ngIf="codigo" [ngStyle]="{'background-color': !codigo ? 'green':'blue',
                                  'textAlign': 'right',
                                 'color': !codigo ? 'yellow': 'gray',
                                 'paddingLeft': !codigo ? '0px': '20px',
                                 'paddingRight': !codigo ? '20px' :'0px',
                                 'width': '450px' ,
                                 'height' : '50px'} ">
                  OK- Transacción Exitosa!!!
                </div>

              </div>
              <div class="col-sm-6">
                <br>  Codigo:

                <input type="text" #textId placeholder="number" step="1" min="0" max="100000" value="0" name="ed" required>
                <button (click)="getUser(textId.value)">Buscar</button>
                <hr>
                <ng-container *ngIf="notFound">User not Found</ng-container>
                <ng-container *ngIf="codigo">
                  <div>UserId: {{codigo.codigoId}}  </div>
                  <div>Id: {{codigo.id}}  </div>
                  <div>Name: {{codigo.title }}  </div>
                  <div>Username: {{codigo.body}}  </div>
                </ng-container>

                <div *ngIf="notFound" [ngStyle]="{'background-color': notFound ? 'red':'green'} ">User not Found</div>
                <div *ngIf="!codigo" [ngStyle]="{'background-color': !codigo ? 'brown':'blue',
                                  'textAlign': 'right',
                                 'color': !codigo ? 'yellow': 'gray',
                                 'paddingLeft': codigo ? '0px': '20px',
                                 'paddingRight': !codigo ? '20px' :'0px',
                                 'width': '400px' ,
                                 'height' : '40px'} ">
                  NO existe por ahora!!!
                </div>
                <div *ngIf="codigo" [ngStyle]="{'background-color': !codigo ? 'green':'blue',
                                  'textAlign': 'right',
                                 'color': !codigo ? 'yellow': 'gray',
                                 'paddingLeft': !codigo ? '0px': '20px',
                                 'paddingRight': !codigo ? '20px' :'0px',
                                 'width': '450px' ,
                                 'height' : '50px'} ">
                  OK- Transacción Exitosa!!!
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <div class="col-sm-4">
                <label for="nombre">Nombre Combo(*)</label>
                <input type="text" placeholder="Ingrese nombre" formControlName="nombre" size="33">
                <span style="color:red;" *ngIf="formT.controls['nombre'].touched && formT.controls['nombre'].errors?.required">Title is required.</span>
              </div>
              <div class="col-sm-3">
                <label for="descripcion">Descripción Combo(*)</label>
                <textarea type="text" placeholder="Ingrese descripción" formControlName="descripcion" rows="5" cols="44" style="margin-bottom: 10px;"></textarea>
                <span style="color:red;" *ngIf="formT.controls['descripcion'].touched && formT.controls['descripcion'].errors?.required">Description is required.</span>
              </div>
            </div>
            <hr />
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="cbBodega">Producto(*)</label>
                <select id="cbBodega" formControlName="bodega" placeholder="Seleccione uno" [ngClass]="{'is-invalid': submitted && formT.controls.bodega.errors}">
                  <option value="">Seleccione uno</option>
                  <option *ngFor="let item of arrProductos" [value]="item.id">
                    {{ item.name }}
                  </option>
                </select>
                <div *ngIf="submitted && formT.controls.bodega.errors && formT.controls.bodega.errors.required" class="invalid-feedback">Campo obligatorio</div>
              </div>
              <div class="col-sm-6">
                <label for="nombre">Cantidad Producto(*) </label>
                <input type="text" placeholder="123.789" formControlName="nombre" size="13">
                <span style="color:red;" *ngIf="formT.controls['nombre'].touched && formT.controls['nombre'].errors?.required">Title is required.</span>
              </div>
              <!--<div class="col-sm-4">
    <label for="cbGrupo">Grupo Producto(*)</label>
    <select id="cbGrupo" formControlName="grupo" placeholder="Seleccione uno" [ngClass]="{'is-invalid': submitted && formT.controls.grupo.errors}">
      <option value="">Seleccione uno</option>
      <option *ngFor="let item of arrGrupo" [value]="item.id">
        {{ item.name }}
      </option>
    </select>
  </div>-->
              <!--<div class="col-sm-4">
    <label for="cbsubGrupo">SubGrupo Producto(*)</label>
    <select id="cbsubGrupo" formControlName="subGrupo" placeholder="Seleccione uno" [ngClass]="{'is-invalid': submitted && formT.controls.subGrupo.errors}">
      <option value="">Seleccione uno</option>
      <option *ngFor="let item of arrSubGrupo" [value]="item.id">
        {{ item.name }}
      </option>
    </select>
  </div>-->
            </div>
            <hr />
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="cbBodega">Servicio(*)</label>
                <select id="cbBodega" formControlName="seccion" placeholder="Seleccione uno" [ngClass]="{'is-invalid': submitted && formT.controls.seccion.errors}">
                  <option value="">Seleccione uno</option>
                  <option *ngFor="let item of arrServicios" [value]="item.id">
                    {{ item.name }}
                  </option>
                </select>
                <div *ngIf="submitted && formT.controls.seccion.errors && formT.controls.seccion.errors.required" class="invalid-feedback">Campo obligatorio</div>
              </div>
              <div class="col-sm-6">
                <label for="nombre">Cantidad Servicio(*)</label>
                <input type="text" placeholder="52.513" formControlName="nombre" size="13">
                <span style="color:red;" *ngIf="formT.controls['nombre'].touched && formT.controls['nombre'].errors?.required">Title is required.</span>
              </div>
              <!--<div class="col-sm-4">
    <label for="cbGrupo">Grupo Servicio(*)</label>
    <select id="cbGrupo" formControlName="grupo" placeholder="Seleccione uno" [ngClass]="{'is-invalid': submitted && formT.controls.grupo.errors}">
      <option value="">Seleccione uno</option>
      <option *ngFor="let item of arrGrupo" [value]="item.id">
        {{ item.name }}
      </option>
    </select>
  </div>
  <div class="col-sm-4">
    <label for="cbsubGrupo">SubGrupo Servicio(*)</label>
    <select id="cbsubGrupo" formControlName="subGrupo" placeholder="Seleccione uno" [ngClass]="{'is-invalid': submitted && formT.controls.subGrupo.errors}">
      <option value="">Seleccione uno</option>
      <option *ngFor="let item of arrSubGrupo" [value]="item.id">
        {{ item.name }}
      </option>
    </select>
  </div>-->
            </div>
            <hr />
            <hr />
          </form>
          <button (click)="AddEditTodo()" class="btn btn-primary" [disabled]="formT.invalid" style="margin: 10px;"> Guardar</button>
          <button *ngIf="sel.id!==0" (click)="deleteTodo()" class="btn btn-danger"> Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

